/**
Added Media Query for Search Box
**/
@media (max-width: 767px) {
  .input-button-search {
  visibility: hidden;
  width: 0px;
  height: 0px;}
}

/**
Added for Empty Search text
**/

.js-shopping-button-empty {
padding-left:0px !important;
}

/**
Added for removing add to cart popup background, when unable to add product to cart.
**/
.remove-popup-background{
 opacity:0 !important;
}
