/**
Added Media Query for Search Box
**/
@media (max-width: 767px) {
  .input-button-search {
  visibility: hidden;
  width: 0px;
  height: 0px;}
}

/**
Added for removing add to cart popup background, when unable to add product to cart.
**/
.remove-popup-background{
 opacity:0 !important;
}

/*for BL-494 */
.icon-production { background: url(../assets/icon-equipment.svg) center no-repeat; }

/* for BL-573 */
.showmore-margintop{position: relative; top: 25px;}

/* added for BL-534  */
   .card .splide__arrow--prev { margin-left: -15px;    z-index: 2; position: absolute;  left: 0; }
   .card .splide__arrows { margin-top: -30px; opacity: 0; transition: .2s;  }
   .card:hover .splide__arrows { opacity: 1; } 
   .card .splide__arrow { padding: 8px; background: rgba(255,255,255,.6); border-radius: 50%; z-index: 99; }
   .card .splide__arrow--next { margin-right: -15px;z-index: 2; position: absolute; right: 0; }

/*BL- 605 */
@media(min-width:767px){
  #productExtras #gear-slider-list .card { padding: 30px 10px; }
}

/**
BL-31 Added for error message in login and create account popup
**/
.notification-error {
 border: none!important;
 border-left-color: #e64b4f !important;
 border-left: 4px solid !important;
}
/* BL-492 - 7.*/
.sortDropdownForListPage {
  border: none;
  background: transparent;
  color: #3d3c3c;
}
/*for BL-494 */
.icon-production {
 background: url(../assets/icon-equipment.svg) center no-repeat;
  }
  .btn-outline { border: 1px solid #cccccc; }
  .litepicker .reset-button { color: #3d3c3c; position: absolute; bottom: 30px; left: 50px; text-transform: initial; }
  @media screen and (max-width: 480px) { .litepicker .reset-button { position: relative; bottom: 0; left: 0 }}
  @media screen and (max-width: 480px) { .litepicker .preview-date-range { display: block; padding-bottom: 10px; }}
.litepicker .container__months .month-item { transform: none !important; }

input.error { padding-right: 30px; border-color: #e64b4f!important; color: #e64b4f!important; background: url(../assets/notification-error.svg) right 8px center no-repeat !important; }

.cart h1 {
    font-size: 34px;
    line-height: 40px;
}


.cartProduct, .shipProduct, .payProduct, .paymentOption, .reviewCart {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d4d3d3;
}

.testing {
	padding: 10px;
    
 margin-top: 6px;
    margin-bottom: 6px;
}


.secure { background: url(../assets/icon-lock.svg) 97% center no-repeat; }

.billingAddressData input[type="checkbox"]:checked:before {
    background: #52bfc0 url(../assets/icon-check-white.svg) no-repeat center;
    border-color: #52bfc0;
    position: absolute;
    background-size: 10px;
    content: "";
    width: 18px;
    height: 18px;
}

#order h1 {
    font-size: 34px;
    line-height: 40px;
}
/* BL-45 */
.hero-content a{color: #fff;text-decoration: none;}
@media screen and (max-width: 767px){
  .embed-responsive img {
    max-width: fit-content;
  }
  }
/* BL-45 */

