.table-scroll-cancel-popup-orderEntries {
  width:100% !important;
  overflow: scroll !important;
  height: 100% !important;
}

.z-hlayout-inner {
  display: inherit !important;
  position: relative;
  vertical-align: top;
  white-space: inherit !important;
}

.z-hlayout {
    white-space: nowrap !important;
}

.z-grid-body {
    overflow: initial !important;
}

.z-grid-header {
    width: 100% !important;
    display: contents !important;
}